<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335786936154-5f5vmfgs9ojd5iqsgde2g13u3do3k2he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335786936154-5f5vmfgs9ojd5iqsgde2g13u3do3k2he</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsqrm4Sz0Krg2IMYjZRGSxRMOq9hTjOM</string>
	<key>GCM_SENDER_ID</key>
	<string>335786936154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muyang.FindMyLocation</string>
	<key>PROJECT_ID</key>
	<string>findmylocation-e8ca9</string>
	<key>STORAGE_BUCKET</key>
	<string>findmylocation-e8ca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335786936154:ios:ab1eeb2e07906648</string>
	<key>DATABASE_URL</key>
	<string>https://findmylocation-e8ca9.firebaseio.com</string>
</dict>
</plist>